.location{
  width: 291px;
  height: 42px;
  padding: 11px;
  font-family: Tajawal;
  border-radius: 8px;
  border: solid 1px #eff1f9;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 150px;
  z-index: 2;
}
