.title {
  text-align: center;
}
.blue-text {
  color: rgba(30, 68, 136, 1);
}
.grey_text {
  color: rgba(108, 120, 135, 1);
}

.options div {
  text-align: center;
  display: inline-block;
  width: 50%;
  background-color: #f5f6fa;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
}

.details {
  background-color: #f5f6fa;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
  padding: 10px;
}

.details .image {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px auto;
}

.row{
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: start;
  height: 40px;
  width: 100%;
  margin: 18px 0;
}


.row .input {
  background-color: white;
  outline: none;
  border: none;
  border-radius: 3px;
  width: 90%;
  height: 40px;
}
.icon{
  width: 10%;
  height: 40px;
  display: flex;
  align-items: center;
  color: #e7e8eb;
  background-color: white;
}

.submit-button {
  width: 100%;
  border: none;
  background-color: green;
  color: white;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

:host ::ng-deep #phone {
  width: 100%;
  color: grey;
  border: none;
  height: 40px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid white;
}
:host ::ng-deep .iti--allow-dropdown {
  width: 100%;
}

:host ::ng-deep #country-search-box{
  direction:ltr
}

:host ::ng-deep .iti__country-list {
  width: 100%;
}

:host ::ng-deep .country-dropdown{
  width: 300px !important;
}
.account_type{
  text-align: right;
  padding: 10px;
}

.types .text{
  display: inline-block;
  width: 33%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.terms{
  text-align: right;
}
.terms h4{
  margin: 5px;
  display: inline-block;
}

.green-background{
  background-color: green;
  color: white;
}

