<div id="contain">
  <div id="header">
    <span></span>
    <span>الرئيسية/أسم او رقم العرض/</span>
  </div>
</div>

<div id="contain">
  <div class="right-side">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of campaign?.images_urls">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="image" />
        </div>
      </ng-template>
    </ngb-carousel>

    <div id="details" class="box">
      <div class="details_title">
        <h3 *ngIf="direction === 'rtl'">
          {{ campaign?.search_data.category_ar }}
        </h3>

        <h3 *ngIf="direction === 'ltr'">
          {{ campaign?.search_data.category_en }}
        </h3>

        <div *ngIf="campaign?.campaign_type == 'normal'" class="special">
          <span class="material-icons"> grade </span>
          <span>{{ "special-card" | translate }}</span>
        </div>

        <div class="details_price" [dir]="direction">
          <h3>{{ "filter_price" | translate }} &nbsp;</h3>
          <h2>{{ campaign?.price }} {{ "rs" | translate }}</h2>
        </div>
      </div>

      <div class="address">
        <mat-icon> location_on </mat-icon>
        <h3>{{ campaign?.location_name }}</h3>
      </div>

      <div class="meters">
        <mat-icon> square_foot </mat-icon>
        <h3>{{ campaign?.area }} {{ "meter_square" | translate }}</h3>
      </div>
    </div>

    <div class="description box">
      <h2>{{ "description" | translate }}</h2>
      <p>{{ campaign?.description }}</p>
    </div>

    <div class="box ad-details">
      <div class="title">
        <h3>{{ "campaign_details" | translate }}</h3>
      </div>

      <div class="details_columns">
        <h2>التغطية</h2>
        <h3>stc</h3>
        <h2>درج صالة</h2>
        <h2></h2>
        <h2>{{ "building_face" | translate }}</h2>
        <h3>{{ campaign?.more_details.building_side }}</h3>
        <h2>غرفة خادمة</h2>
        <h2></h2>
        <h2>{{ "filter_area" | translate }}</h2>
        <h3>{{ campaign?.area }}</h3>
        <h2>مشب</h2>
        <h2></h2>
        <h2>{{ "bedrooms" | translate }}</h2>
        <h3>{{ campaign?.more_details.bedrooms }}</h3>
        <h2>حوش</h2>
        <h2></h2>
        <h2>{{ "living_rooms" | translate }}</h2>
        <h3>{{ campaign?.more_details.living_rooms }}</h3>
        <h2>مميزات أخرى</h2>
        <h3>بدروم - حديقة - بلكونه</h3>
        <h2>{{ "bath_rooms" | translate }}</h2>
        <h3>{{ campaign?.more_details.bathrooms }}</h3>
        <h2>{{ "campaign_number" | translate }}</h2>
        <h3>{{ campaign?.campaign_number }}</h3>
        <h2>{{ "street_wide" | translate }}</h2>
        <h3>{{ campaign?.more_details.street_wide }}</h3>
        <h2>آخر تحديث</h2>
        <h3>{{ campaign?.last_edit_date_time.toDate() | date }}</h3>
        <h2>عمر العقار</h2>
        <h3>جديد</h3>
        <h2>{{ "views" | translate }}</h2>
        <h3>{{ campaign?.seen_count }}</h3>
      </div>
    </div>
  </div>

  <div class="left-side">
    <div class="advertiser_details">
      <h3>{{ "advertiser_details" | translate }}</h3>

      <div class="header">
        <div class="image">
          <img [src]="advertiser?.user_image" alt="" />
        </div>
        <div class="details">
          <h3>{{ advertiser?.full_name }}</h3>
          <h3>{{ advertiser?.phone_number }}</h3>

          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>

          <ngb-rating
            [(rate)]="userRating"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          ></ngb-rating>
        </div>
      </div>
    </div>
  </div>
</div>

<app-related-campaigns
  [campaign]="campaign"
  (campaignChanged)="campaignChanged($event)"
></app-related-campaigns>
<app-privacy-policy></app-privacy-policy>
