
<div id="container">
  <div id="header">
    <span></span>
    <span>الرئيسية/أسم او رقم العرض/</span>
  </div>
  <div class="right-side">
    <div id="caresoul">
      <img id="caresoul_image" src="Mask_Group_128.png" />

      <div id="right_arrow">
        <div>rigth arrow</div>
      </div>

      <div id="left_arrow">
        <div>left arrow</div>
      </div>

    </div>

    <div id="details" class="box">

        <div id="details_title">
          <span>فيلأ للايجار</span>
        </div>

        <div id="details_sponcered">
          <span>مميز</span>
        </div>

        <div id="details_price">
          <div>السعر 400 رس</div>
        </div>

        <div class="address">
          <span class="icon"></span>
          <span class="text">الرياض - حي الخالدية - مجمع الملك خالد</span>
        </div>

        <div class="meters">
          <span class="icon"></span>
          <span class="text">الرياض - حي الخالدية - مجمع الملك خالد</span>
        </div>

    </div>

    <div class="description box">
      <div>
        <h2>الوصف</h2>
      </div>

      <div>مكتب مجهز نظيف جدا يملك إطلاله مميزة على الرياض على ارتفاع 320 متر أي في الدور رقم 16 يحتوي على اثاث جديد و يملك تهوية جميلة من اربع اماكن اتجاهات , مكتب مجهز نظيف جدا يملك إطلاله مميزة على الرياض على ارتفاع 320 متر أي في الدور رقم 16 يحتوي على اثاث جديد و يملك تهوية جميلة من اربع اماكن اتجاهات</div>
    </div>

    <div class="box ad-details">
      <div class="title">
        <h2>تفاصيل الإعلان</h2>
      </div>

      <div class="details_columns">
        <h2>التغطية</h2>
        <h2>stc</h2>
        <h2>درج صالة</h2>
        <h2></h2>
        <h2>الواجهة</h2>
        <h2>شرقي</h2>
        <h2>غرفة خادمة</h2>
        <h2></h2>
        <h2>المساحة</h2>
        <h2>356</h2>
        <h2>مشب</h2>
        <h2></h2>
        <h2>غرف النوم</h2>
        <h2>7</h2>
        <h2>حوش</h2>
        <h2></h2>

        <h2>الصالات</h2>
        <h2>1</h2>
        <h2>مميزات أخرى</h2>
        <h2>بدروم - حديقة - بلكونه</h2>
        <h2>دورات المياه</h2>
        <h2>5</h2>
        <h2>رقم الإعلان</h2>
        <h2>646</h2>
        <h2>عرض الشارع</h2>
        <h2>15 م</h2>
        <h2>آخر تحديث</h2>
        <h2>اليوم</h2>
        <h2>عمر العقار</h2>
        <h2>جديد</h2>
        <h2>المشاهدات</h2>
        <h2>3254</h2>

      </div>
    </div>
  </div>

  <div class="left-side">
بيانات المعلن
  </div>


</div>
