<div  matRipple class="row" [dir]="dir">
  <div class="icon_container">
    <mat-icon>add</mat-icon>
  </div>

  <div class="title">
    <h3>{{ "add_campaign" | translate }}</h3>
  </div>

  <div class="spacer"></div>

  <mat-icon *ngIf="dir === 'ltr'" class="arrow" >chevron_right</mat-icon>
  <mat-icon *ngIf="dir === 'rtl'" class="arrow" >chevron_left</mat-icon>
</div>
<mat-divider></mat-divider>


<div  matRipple class="row" [dir]="dir">
  <div class="icon_container blue">
    <img src="../../assets/icons/Services.svg" alt="">
  </div>

  <div class="title">
    <h3>{{ "instant_service" | translate }}</h3>
  </div>

  <div class="spacer"></div>

  <mat-icon *ngIf="dir === 'ltr'" class="arrow" >chevron_right</mat-icon>
  <mat-icon *ngIf="dir === 'rtl'" class="arrow" >chevron_left</mat-icon>
</div>
<mat-divider></mat-divider>

<div  matRipple class="row" [dir]="dir">
  <div class="icon_container blue">
    <img src="../../assets/icons/aitihad_,_taeawun.svg" alt="">
  </div>

  <div class="title">
    <h3>{{ "co_operate" | translate }}</h3>
  </div>

  <div class="spacer"></div>

  <mat-icon *ngIf="dir === 'ltr'" class="arrow" >chevron_right</mat-icon>
  <mat-icon *ngIf="dir === 'rtl'" class="arrow" >chevron_left</mat-icon>
</div>
<mat-divider></mat-divider>

<div  matRipple class="row" [dir]="dir">
  <div class="icon_container">
    <mat-icon>add</mat-icon>
  </div>

  <div class="title">
    <h3>{{ "rent" | translate }}</h3>
  </div>

  <div class="spacer"></div>

  <mat-icon *ngIf="dir === 'ltr'" class="arrow" >chevron_right</mat-icon>
  <mat-icon *ngIf="dir === 'rtl'" class="arrow" >chevron_left</mat-icon>
</div>
<mat-divider></mat-divider>

<div  matRipple class="row" [dir]="dir">
  <div class="icon_container">
    <mat-icon>add</mat-icon>
  </div>

  <div class="title">
    <h3>{{ "fund" | translate }}</h3>
  </div>

  <div class="spacer"></div>

  <mat-icon *ngIf="dir === 'ltr'" class="arrow" >chevron_right</mat-icon>
  <mat-icon *ngIf="dir === 'rtl'" class="arrow" >chevron_left</mat-icon>
</div>

