.conatin{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  align-items: center;
  background-color: white;
  h3{
    margin: 0 0 0 15px;
    font-family: Tajawal;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: right;
    color: #6c7887;
  }
}

